<mat-toolbar class="background-primary shadow">

  <mat-toolbar-row color="primary">
    <span routerLink="/home">Clibo</span>
    <span class="spacer"></span>
    <ng-container *ngIf="verifyUser(); else elseTemplate">
      <button  mat-card-avatar [matMenuTriggerFor]="menu" class="header-image" style="background-image: url({{user.photoURL}});"></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/producer/profile">Ver Perfil</button>
        <button mat-menu-item (click)="signOut()">Cerrar Sesión</button>
      </mat-menu>
      <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->

      <!-- <a routerLink="/producer/profile" mat-card-avatar style="background-image: url({{user.photoURL}});"
        class="header-image"></a> -->

      <!-- <a routerLink="/producer/profile"> <mat-icon class="icon" aria-hidden="false" >account_circle</mat-icon> </a> -->
    </ng-container>
    <ng-template #elseTemplate>
      <button mat-button (click)="openDialogLogIn()">Iniciar Sesión</button>
      <button mat-button (click)="openDialogSignUp()">Registrarse</button>
      <!-- <a (click)="openDialog()"> <mat-icon class="icon" aria-hidden="false" >account_circle</mat-icon> </a> -->
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>