.container-content {
    margin: 20px;
}

mat-tab-group{
    position: sticky;
    height:100%;
}

mat-card{
    margin: 15px auto;
}

.proposals button{
    background-color: rgb(44, 165, 44);
    color: white;
}

.example-card {
    max-width: 400px;
}

mat-card-actions {
    display: flex;
}

.crud-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

mat-card-actions button {
    margin: 0 5px;
}