.container-content {
    margin: 20px;
}

mat-tab-group{
    position: sticky;
    height:100%;
}

.proposals button{
    background-color: rgb(44, 165, 44);
    color: white;
}

mat-card {
    max-width: 300px;
}

mat-card-actions {
    display: flex;
}

.crud-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

mat-card-actions button {
    margin: 0 5px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin-top: 10px;
}