<mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
  <mat-tab label="General">
    <ng-template matTabContent>
      <section class="container-content">
        <section class="grid-container">
          <mat-card *ngFor="let a of auctions" class="example-card">
            <mat-card-header>
              <div mat-card-avatar style="background-image: url({{a.image}});
            background-size: cover;"></div>
              <mat-card-title>
                Subasta - {{a.username}}
              </mat-card-title>
              <mat-card-subtitle>{{a.category}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{a.description}}
              </p>
              <p>
                Precio: ${{a.price}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <div class="proposals">
                <button mat-raised-button routerLink="/producer/add-proposal/{{a.uid}}">Hacer propuesta</button>
              </div>
              <button mat-raised-button color="primary">Ver propuestas</button>
            </mat-card-actions>
          </mat-card>
        </section>
      </section>
    </ng-template>
  </mat-tab>
  <mat-tab label="Mis subastas">
    <ng-template matTabContent>
      <section class="container-content">
        <button mat-fab color="primary" routerLink="/producer/add-auction">
          <mat-icon>add</mat-icon>
        </button>
        <mat-card *ngFor="let auc of logged_user_auctions; let i = index" class="example-card">
          <mat-card-header>
            <div mat-card-avatar style="background-image: url({{user.photoURL}});
            background-size: cover;"></div>
            <mat-card-title>Subasta #{{i+1}}</mat-card-title>
            <mat-card-subtitle>Cocina</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{auc.description}}
            </p>
            <p>Precio: ${{auc.price}}</p>
          </mat-card-content>
          <mat-card-actions>
            <div class="user-proposals">
              <button mat-raised-button color="primary">Ver propuestas</button>
            </div>
            <div class="crud-buttons">
              <button mat-mini-fab color="primary">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </section>
    </ng-template>
  </mat-tab>
</mat-tab-group>