.container-content {
    margin: 20px;
}

mat-tab-group{
    position: sticky;
    height:100%;
}

.proposals button{
    background-color: rgb(44, 165, 44);
    color: white;
}

#private-button{
    background-color: rgb(70, 179, 28);
    color: white;
}

mat-card {
    max-width: 300px;
}

mat-card-actions {
    display: flex;
}

.action-container{
    display: grid;
    grid-template-columns: 200px 100px;
    column-gap: 1em;
    justify-items: left;
}

.action-item:nth-child(2){
    align-self: flex-end;
}

.proposals-container{
    display: grid;
    grid-row: 50px 50px;
    row-gap: 1em;
}

.crud-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

mat-card-actions button {
    margin: 0 5px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin-top: 10px;
}