.container-content {
    margin: 20px;
}

.card {
    padding: 10px;
}

mat-card{
    margin: 10px;
}

.item-list {
    display: flex;
    justify-content: space-between !important;
    width: 100%;
    cursor: pointer;
}
#addStreaming{
    margin-bottom: 20px;
    background-color: #254E7B!important;
}