.container-content {
    margin: 20px;
}

mat-tab-group{
    position: sticky;
    height:100%;
}

.example-card {
    max-width: 400px;
}

#private-button{
    background-color: rgb(70, 179, 28);
    color: white;
}

mat-card {
    margin: 15px;
}

.crud-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.offer-info{
    padding-bottom: 1em;
}

.owner-info{
    padding-top: 1em;
}

#offer-price{
    font-size: 1.2em;
}

mat-card-actions {
    display: flex;
}

.action-container{
    display: grid;
    grid-template-columns: 200px 100px;
    column-gap: 1em;
    justify-items: left;
}

.action-item:nth-child(2){
    align-self: flex-end;
}

.proposals-container{
    display: grid;
    grid-row: 50px 50px;
    row-gap: 1em;
}

.crud-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

mat-card-actions button {
    margin: 0 5px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin-top: 10px;
}

.btn--secondary{
    color:white;
}