.container-content {
    margin: 20px;
}

.example-card {
    max-width: 400px;
}

mat-card {
    margin: 15px;
}

.crud-buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

mat-card-actions button {
    margin: 0 5px;
}

.offer-info{
    padding-bottom: 1em;
}

.owner-info{
    padding-top: 1em;
}

#offer-price{
    font-size: 1.2em;
}

mat-card-actions {
    display: flex;
}

mat-tab-group{
    position: sticky;
    height:100%;
}