<section class="grid-container">
    <div class="frame">
        <strong id="streamingName">{{streamingInfo?.name}}</strong>
        <p id="shortDescription">{{streamingInfo?.short_description}}</p>
        <div id="meet">
        </div>
    </div>
    <div class="item suggested">suggested</div>
    <div class="item description">{{streamingInfo?.long_description}}</div>
    <div class="comments">
        <strong id="commentsTitle">Comentarios</strong>
        <mat-card *ngFor="let comment of comments" class="card">
                <div mat-card-avatar style="background-image: url('https://firebasestorage.googleapis.com/v0/b/ibm-challenge-d1eaa.appspot.com/o/assets%2Fuser.png?alt=media&token=39a08526-df97-4c53-b15a-b99e7f9c4162');"></div>
            <mat-card-content class="container-shadow">
                <p>{{comment.text}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</section>