.grid-container{
    display: grid;
    grid-template: 0.65fr 0.35fr  /0.80fr 0.20fr;
    grid-template-areas: "frame comments" 
                         "description suggested" ;
    gap: 15px;
    padding: 20px;
    height: 100vh;
    font-family: 'Poppins', sans-serif !important;
}
.advertisement{
    grid-area:advertisement ;
}
.frame{
    grid-area:frame ;

}
.suggested{
    grid-area:suggested ;

}
.description{
    grid-area:description ;
    font-style: italic;

}
.comments{
    grid-area:comments ;   
    text-align: center;
}
.mat-card-avatar {
    background-size: cover;
}
.item{
    border-radius: 10px;
    box-shadow: 0 .225rem .25rem rgba(0,0,0,.075)!important;
    background-color: white;
    padding: 5px;
}
#commentsTitle{
    text-align: center;
    margin-bottom: 7px;
}
#streamHeader {
    display: flex;
    justify-content: space-between;
}

.example-card{
    padding: 3px
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
mat-card-title{
    font-size: smaller !important;
    text-align: left;
}
.flex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.stats{
    padding: 2px;
}
.stats button{
    margin: 7px;
}