.grid-container{
    display: grid;
    grid-template: 0.15fr 0.45fr 0.2fr 0.2fr /0.75fr 0.25fr;
    grid-template-areas: "frame comments" 
                         "description suggested" 
                         "description suggested";
    gap: 15px;
    padding: 10px;
    height: 100vh;
}
.advertisement{
    grid-area:advertisement ;
}
.frame{
    grid-area:frame ;

}
.suggested{
    grid-area:suggested ;

}
.description{
    grid-area:description ;

}
.comments{
    grid-area:comments ;   
}
.mat-card-avatar {
    background-size: cover;
}
