<mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)">
    <mat-grid-tile [class.fullWidth]="breakpoint == 1" class="g1">
        <img src="{{photo}}" alt="User image">
    </mat-grid-tile>
    <mat-grid-tile [class.fullWidth]="breakpoint == 1" class="g2">
        <div class="info">
            <mat-list>
                <div mat-line id="name"><strong>{{name}}</strong></div>
                <div mat-line id="email">{{email}}</div>
            </mat-list>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-tab-group>
    <mat-tab label="General">
        <ng-template matTabContent>
            Content 1 - Example
        </ng-template>
    </mat-tab>
    <mat-tab label="Videos">
        <section class="container-content">
            <div class="grid">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar
                            style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        </div>
                        <mat-card-title>Dogchow para caninos</mat-card-title>
                        <mat-card-subtitle>Comida</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Video Image">
                    <mat-card-content>
                        <p>
                            Comida para perros
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="secondary">SHARE</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar
                            style="background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');">
                        </div>
                        <mat-card-title>Entrenando perros</mat-card-title>
                        <mat-card-subtitle>Comida</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Video Image">
                    <mat-card-content>
                        <p>
                            Para poder entrenar perros
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="secondary">SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </section>
    </mat-tab>
    <mat-tab label="About">
        <section class="container-content">
            <ng-template matTabContent>
                <mat-list class="user-info">
                    <div mat-subheader>Nombre</div>
                    <div mat-line>{{name}}</div>
                    <mat-divider></mat-divider>
                    <div mat-subheader>Email</div>
                    <div mat-line>{{email}}</div>
                </mat-list>
            </ng-template>
        </section>
    </mat-tab>
</mat-tab-group>