<section class="grid-section">
    <div class="text-section">
        <p id="welcome-text">Bienvenido a Clibo! Donde haces desde casa lo que más te gusta</p>
    </div>
    <div class="swiper-container">
        <swiper>
            <div *ngFor="let video of videos">
                <img class="slide" src={{video.coverURL}} alt="">
            </div>
        </swiper>
    </div>
</section>
<div class="videos-label">
    <p>Vídeos</p>
</div>
<app-streaming-list [videos]="videos"></app-streaming-list>