.swiper-slide {
    overflow: hidden !important;
}

.swiper-container {
    height: 40vh;
}

.slide {
    filter: blur(5px) grayscale(50%);
    width: 100%;
    object-fit: cover;
}

.banner-title{
    text-align: center;
    background-color: rgba(256, 256, 256, 0.5);
    position: relative;
    top: -20vh;
    z-index: 2;
}