<section class="swiper-container">
    <swiper>
        <div>
            <img class="slide" src="https://cdn.pixabay.com/photo/2020/03/30/12/42/indian-4984147_960_720.jpg" alt="">
        </div>
        <div >
            <img  class="slide" src="https://cdn.pixabay.com/photo/2020/03/30/12/42/indian-4984147_960_720.jpg" alt="">
        </div>
        <div >
            <img  class="slide" src="https://cdn.pixabay.com/photo/2020/03/30/12/42/indian-4984147_960_720.jpg" alt="">
        </div>
    </swiper>
</section>
<app-streaming-list></app-streaming-list>