<button id="back-button" mat-fab color="primary" routerLink="/producer/auctions">
  <mat-icon>arrow_back</mat-icon>
</button>
<div class="container">
  <h2><strong>Crear Bookie</strong></h2>
  <form [formGroup]="form" (ngSubmit)="postAuction($event)">
    <div class="form-container">
      <mat-form-field appearance="fill">
        <mat-label>Categoría</mat-label>
        <mat-select [(value)]="selected" formControlName="category">
          <mat-option *ngFor="let c of categories" [value]="c">{{c}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Precio</mat-label>
        <input type="number" formControlName="price" matInput>
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Descripción</mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>
      <button mat-raised-button type="submit">Crear</button>
    </div>
  </form>
</div>