<mat-card class="card">
  <div class="left">
    <mat-card-header>
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>
    <form [formGroup]="dataUser" (ngSubmit)="signUp($event)">
      <mat-card-content>
        <mat-vertical-stepper [linear]="isLinear" #stepper>
          <mat-step >
            <ng-template matStepLabel>Ingresa tus datos básicos</ng-template>
            <table class="full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="name">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="full-width">
                    <mat-label>Correo</mat-label>
                    <input matInput type="email" formControlName="email">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="full-width">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password">
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </mat-step>
          <mat-step >
            <ng-template matStepLabel>Escríbenos mas de ti</ng-template>
            <table>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <mat-label>Háblanos de tus gustos</mat-label>
                    <textarea formControlName="preferences" matInput placeholder="Me gusta leer..."></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <br>
              <tr>
                <td>
                  Elige tu foto de perfil
                  <br>
                  <input type="file" accept=".png, .jpg " (change)="onUpload($event)">
                </td>
              </tr>
              <br>
              <tr>
                <td>
                  <mat-progress-bar mode="determinate" [value]="(upLoadPercent | async)"></mat-progress-bar>
                </td>
              </tr>
            </table>
          </mat-step>
        </mat-vertical-stepper>

      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="isValid && imageValid; else btnDisabled" mat-raised-button color="primary"
          type="submit">Registrarme</button>
        <ng-template #btnDisabled>
          <button mat-raised-button disabled=true color="primary" type="submit">Registrarme</button>
        </ng-template>

      </mat-card-actions>
    </form>
    <p>¿ Ya tienes cuenta ? <a (click)="changeBool()"><strong>Inicia sesión</strong></a></p>
  </div>
  <div class="container-image">
    <img class="image-right" src="https://cdn.pixabay.com/photo/2020/03/11/10/08/camera-4921646_960_720.jpg" alt="">
  </div>
</mat-card>
