<form [formGroup]="dataUser" (ngSubmit)="signUp($event)" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>email</mat-label>
    <input matInput type="email" formControlName="email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>password</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let option of options" [value]="option.value" >
        {{option.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Registrarse</button>
</form>
<p>¿ Ya tienes cuenta ?  <a (click)="changeBool()">Inicia sesion</a></p>
