/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background-color: #F8F3EA;
    background-repeat: repeat;
    font-family: 'Poppins', sans-serif !important;  
 }
body { 

    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: 'Poppins', sans-serif !important;  
}

h1,h2,h3,mat-chip,button,mat-card-subtitle,section,div{
    font-family: 'Poppins', sans-serif !important; 
}

.mat-tab-label{
    font-family: 'Poppins', sans-serif !important;
    color: black;
}

.background-primary{
    /* background-color: #254E7B ; */
    background-color: #254E7B!important;
    font-family: 'Poppins', sans-serif;
    color: white;
    /* background-color: #B8B8FF ; */
}

.btn--secondary{
    background-color: #254E7B !important;
}
.btn--primary{
    background-color: #CBE2EF !important;
    color: black!important;
}
.btn--green{
    background-color: rgb(44, 165, 44)!important;
    color: white!important;
}
.mat-typography{
    font-family: 'Poppins', sans-serif;
}
.mat-button{
    font-family: 'Poppins', sans-serif;
}
.mat-card-title{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-family: 'Poppins', sans-serif;
}

.mat-h2, .mat-title, .mat-typography h2{
    font-family: 'Poppins', sans-serif;
}
