/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background-color: rgba(248, 247, 245, 0.863);
    /* background-image: url("./assets/back.png") ;
    background-repeat: repeat; */
 }
body { 

    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: 'Poppins', sans-serif !important;  
}

.background-primary{
    background-color: #254E7B ;
    font-family: 'Poppins', sans-serif;
    color: white;
    /* background-color: #B8B8FF ; */
}
.mat-typography{
    font-family: 'Poppins', sans-serif;
}
.mat-button{
    font-family: 'Poppins', sans-serif;
}
.mat-card-title{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-family: 'Poppins', sans-serif;
}

.mat-h2, .mat-title, .mat-typography h2{
    font-family: 'Poppins', sans-serif;
}
