<section class="container-content">
    <div class="grid">
        <mat-card class="streaming-card" style="background-image: url({{v.coverURL}});" *ngFor="let v of videos">
            <mat-card-header class="container-shadow">
                <div mat-card-avatar style="background-image: url({{v.photo_producer}});"></div>
                <mat-card-title>{{v.name}}</mat-card-title>
                <mat-card-subtitle>
                    <div *ngIf="v.category; else elseBlock">
                        {{v.category}}
                    </div>
                    <ng-template #elseBlock>
                        No category
                    </ng-template>
                </mat-card-subtitle>
            </mat-card-header>
            <br>
            <span></span>
            <mat-card-content class="container-shadow">
                <p>
                    {{v.short_description}}
                </p>
            </mat-card-content>
            <mat-card-actions class="container-shadow-actions">
                <button mat-icon-button>
                    <mat-icon>
                        favorite
                    </mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>
                        share
                    </mat-icon>
                </button>
               
            </mat-card-actions>
        </mat-card>
    </div>

</section>