<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Ingresar</mat-card-title>
  </mat-card-header>
  <form [formGroup]="dataUser" (ngSubmit)="signIn($event)" >
    <mat-card-content>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <mat-label>email</mat-label>
              <input matInput type="email" formControlName="email">
            </mat-form-field>
          </td>
        </tr>  
        <tr>  
          <td>
            <mat-form-field class="full-width">
              <mat-label>password</mat-label>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Entrar</button>
    </mat-card-actions>
  </form>
</mat-card>